asgiref==3.3.1
boto3==1.16.63
botocore==1.19.63
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
coverage==5.5
dj-database-url==0.5.0
Django==3.1.7
django-cors-headers==3.7.0
django-environ==0.4.5
django-heroku==0.3.1
django-markdownx==3.0.1
django-storages==1.11.1
djangorestframework==3.12.2
google-api-core==1.26.1
google-auth==1.28.0
google-cloud-secret-manager==2.3.0
googleapis-common-protos==1.53.0
grpc-google-iam-v1==0.12.3
grpcio==1.36.1
gunicorn==20.0.4
idna==2.10
jmespath==0.10.0
libcst==0.3.17
Markdown==3.3.4
mypy-extensions==0.4.3
packaging==20.9
Pillow==8.1.2
proto-plus==1.18.0
protobuf==3.15.6
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rsa==4.7.2
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.4
whitenoise==5.2.0
