{% extends 'blog/base.html' %} {% load static %} 

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container">
  <div class="section">
    <div class="container">
      <br /><br />
      <div class="row center">
        <div class="col l4"></div>
        <div class="col l4">
          <h1
            id="jumboText"
            style="margin-top: 10%"
            class="header center white-text text-accent-2"
          >
            A collection of things I write about and work on
          </h1>
        </div>
      </div>
      <br /><br />
    </div>
  </div>
  <div class="parallax">
    <img
      src="{% static 'blog/images/alaskan_nights.jpg' %}""
      alt="background img 1"
    />
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col l2"></div>

      <!-- About Section -->
      <div class="col l8">
        <div class="icon-block">
          <h2 class="center gray-text">
            <i class="material-icons">person</i>
          </h2>
          <h5 class="center">About</h5>

          <p class="light">
            Currently working as a System's Analyst for a large healthcare company, I made this website to serve
            as a place where I could store and write about projects I'm working on. At the time of writing, 
            the projects tend to focus on supply chain and logistics. Mostly improving the flow of communication / data between users
            and identifying areas to improve in the supply chain.
          </p>

          <p>
            Some of the tools I use in my projects:
          </p>

          <ul class="light">
            <li>Python (Lots of Python. Almost every project starts out as a Django app)</li>
            <li>Javascript (JQuery, Chartjs, React)</li>
            <li>AWS (RDS, S3, EC2, Lambda)</li>
            <li>PostgreSQL (Big fan)</li>
          </ul>

          <p class="light">
            If that sounds interesting, you can read more about the projects <a href="{% url 'project-list' %}">Here</a>.
          </p>

          <p class="light">
            I'm also keeping a blog on this site to write about the ecosystem of tools I use, and find interesting.
            It's hard to keep up with the incredibly fast pace of software, and I find that writing about something
            is a great way to learn the ins and outs. 
          </p>

          <p class="light">
            If that sounds interesting, you can view the blog <a href="{% url 'post-list' %}">Here</a>.
          </p>

          <p class="light">
            If you'd like to get in touch, you can use the contact form at the bottom of the page. 
          </p>

        </div>
      </div>

      <div class="col l2"></div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax">
    <img
      src="{% static 'blog/images/alaskan_nights.jpg' %}""
      alt="background img 2"
    />
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <div class="center gray-text">
          <h2><i class="material-icons">send</i></h2>
        </div>
        <h4>Contact</h4>

        <form id="contactForm" style="margin-top: 40px;" action="/contact/" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col s2"></div>
            <div class="input-field col s4">
              <i class="material-icons prefix">account_circle</i>
              <input id="first_name" name="first_name" type="text" class="validate" required />
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">account_circle</i>
              <input id="last_name" name="last_name" type="text" class="validate" required />
              <label for="last_name">Last Name</label>
            </div>
            <div class="col s2"></div>
          </div>
          <div class="row">
            <div class="col s2"></div>
            <div class="input-field col s8">
              <i class="material-icons prefix">mail</i>
              <input id="email" name="email" type="email" class="validate" required />
              <label for="email">Email</label>
            </div>
            <div class="col s2"></div>
          </div>
          <div class="row">
            <div class="col s2"></div>
            <div class="input-field col s8">
              <i class="material-icons prefix">chat</i>
              <textarea id="textarea1" name="message" class="materialize-textarea validate" required ></textarea>
              <label for="textarea1">Message</label>
            </div>
            <div class="col s2"></div>
          </div>
          <div class="row">
            <div class="col s5"></div>
            <div class="col s2">
              <button id="confirm" class="btn light-blue darken-1 waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
            <div class="col s5"></div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="{% static 'blog/init.js' %}"></script>
<script>
  function checkInputs() {
    var isValid = true;

    $('[required]').each(function() {
      if ($(this).val() === '') {
        $('#confirm').prop('disabled', true);
        isValid = false;
        return false;
      }
    });

    if (isValid) {
      $('#confirm').prop('disabled', false);
    }

    return isValid;
  }

  $('[required]').on('keyup', function() {
    checkInputs();
  })

  checkInputs();
</script>
{% endblock %}
